// BREADCRUMBS
.breadcrumbs-custom {
	@include position(absolute, null 0 -70px 0);
	z-index: 10;
	.breadcrumb {
		li {
			text-transform: uppercase;
			a {
				color: white;
				&:hover {

				}
			}
			&.active {
				a {
					span {
						@include bold;
						border-bottom: 2px solid white;
					}
				}
			}
		}
	}	
}

.breadcrumbs-light,
.breadcrumbs-dark {
	.pane-page-breadcrumb {
		@include position(absolute, 28px null null null);
		z-index: 1980;
		width: 100%;
		@media #{$sm-down} {
			display: none;
		}
		.pane-content {
			@extend .container-sm;
			.breadcrumb {
				@include list-unstyled;
				text-transform: capitalize;
				@include thin;
			}
		}
	}
}

.breadcrumbs-light {
	.breadcrumb {
		color: white;
	}
}