// RESPONSIVE FONT RESIZE
$em-base: $font-size-base;

html {
  font-size: $font-size-base;
  @media #{$sm-only} {
    font-size: $font-size-base - 2;
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      line-height: $headings-line-height - 0.1;
    }
    h1, .h1,
    h2, .h2,
    h3, .h3 {
      margin-top: rem($line-height-computed);
      margin-bottom: rem(($line-height-computed / 2));
    }
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: rem(($line-height-computed / 2));
      margin-bottom: rem(($line-height-computed / 2));
    }
  }
  @media #{$xs-only} {
    font-size: $font-size-base - 3;
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      line-height: $headings-line-height - 0.2;
    }
    h1, .h1,
    h2, .h2,
    h3, .h3 {
      margin-top: rem($line-height-computed);
      margin-bottom: rem(($line-height-computed / 2));
    }
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: rem(($line-height-computed / 2));
      margin-bottom: rem(($line-height-computed / 2));
    }
  }
}

// TEXT IN REMS
h1, .h1 { font-size: rem($font-size-h1); }
h2, .h2 { font-size: rem($font-size-h2); }
h3, .h3 { font-size: rem($font-size-h3); }
h4, .h4 { font-size: rem($font-size-h4); }
h5, .h5 { font-size: rem($font-size-h5); }
h6, .h6 { font-size: rem($font-size-h6); }
p, .p, ul { font-size: rem($font-size-base); }
small { font-size: rem($font-size-base - 2); }

@media #{$xs-only} {
  h1, .h1 { &.lead {font-size: rem($font-size-h1 + 3) !important; line-height: 1.1;} }
  h2, .h2 { &.lead {font-size: rem($font-size-h2 + 3) !important; line-height: 1.1;} }
  h3, .h3 { &.lead {font-size: rem($font-size-h3 + 3) !important; line-height: 1.1;} }
  h4, .h4 { &.lead {font-size: rem($font-size-h4 + 3) !important; line-height: 1.1;} }
  h5, .h5 { &.lead {font-size: rem($font-size-h5 + 3) !important; line-height: 1.1;} }
  h6, .h6 { &.lead {font-size: rem($font-size-h6 + 3) !important; line-height: 1.1;} }  
  .lead-ch {
	  h1, .h1 { font-size: rem($font-size-h1 + 3) !important; line-height: 1.1;}
	  h2, .h2 { font-size: rem($font-size-h2 + 3) !important; line-height: 1.1;}
	  h3, .h3 { font-size: rem($font-size-h3 + 3) !important; line-height: 1.1;}
	  h4, .h4 { font-size: rem($font-size-h4 + 3) !important; line-height: 1.1;}
	  h5, .h5 { font-size: rem($font-size-h5 + 3) !important; line-height: 1.1;}
	  h6, .h6 { font-size: rem($font-size-h6 + 3) !important; line-height: 1.1;}
	  p, li   { font-size: rem($font-size-base + 3) !important;}
	}
}

@media #{$sm-only} {
  h1, .h1 { &.lead {font-size: rem($font-size-h1 + 12) !important; line-height: 1.2;} }
  h2, .h2 { &.lead {font-size: rem($font-size-h2 + 12) !important; line-height: 1.2;} }
  h3, .h3 { &.lead {font-size: rem($font-size-h3 + 12) !important; line-height: 1.2;} }
  h4, .h4 { &.lead {font-size: rem($font-size-h4 + 12) !important; line-height: 1.2;} }
  h5, .h5 { &.lead {font-size: rem($font-size-h5 + 12) !important; line-height: 1.2;} }
  h6, .h6 { &.lead {font-size: rem($font-size-h6 + 12) !important; line-height: 1.2;} }
  .lead-ch {
	  h1, .h1 { font-size: rem($font-size-h1 + 12) !important; line-height: 1.2;}
	  h2, .h2 { font-size: rem($font-size-h2 + 12) !important; line-height: 1.2;}
	  h3, .h3 { font-size: rem($font-size-h3 + 12) !important; line-height: 1.2;}
	  h4, .h4 { font-size: rem($font-size-h4 + 12) !important; line-height: 1.2;}
	  h5, .h5 { font-size: rem($font-size-h5 + 12) !important; line-height: 1.2;}
	  h6, .h6 { font-size: rem($font-size-h6 + 12) !important; line-height: 1.2;}
	  p, li   { font-size: rem($font-size-base + 12) !important;}
	}
}







