/*
Errno::ENOENT: No such file or directory - main.scss

Backtrace:
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:481:in `read'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:481:in `update_stylesheet'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin.rb:108:in `method_missing'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/Users/gandresibarra/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.7/bin/sass:13:in `<top (required)>'
/Users/gandresibarra/.rvm/gems/ruby-2.0.0-p353/bin/sass:23:in `load'
/Users/gandresibarra/.rvm/gems/ruby-2.0.0-p353/bin/sass:23:in `<main>'
/Users/gandresibarra/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/gandresibarra/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - main.scss"; }
