.form-tabs {
  height: 26px;
  margin: 0 0 20px 180px;
}
.form-tab-item {
  float: left;
  margin-right: 10px;
}
.hide {
  display: none;
}
#block-netsuite-form-builder-netsuite-block-1 iframe,
#block-netsuite-form-builder-netsuite-block-2 iframe {
  border: none;
  height: 950px;
  width: 100%;
}
#tab-person-natural-content,
#tab-person-legal-content {
  width: 800px;
}
.pane-netsuite-form-builder-netsuite-block-3 iframe {
  width: 100%;
  height: 850px;
  border: none;
  display: block;
  margin: 0 auto;
}
#tab-person-natural-content, 
#tab-person-legal-content, 
.pane-netsuite-form-builder-netsuite-block-3 {
  margin: 0 auto;
  max-width: 500px !important;
  width: auto !important;
}