html,
body {
	min-height: 100%;
	height: 100%;
	background-color: $body-bg;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

// HEIGHT CONTROL
$bg-img-height: 350px;
$banner-height: 293px;
$user-card-height: 42px;
$user-card-width: 210px;
$video-bg-height: 491px;
$grid-list-hover-height: 350px;

// CONTROL GRID BLOCK IMG SIZES
@mixin content-block {
	$container-fluid-sm: $container-fluid / 2;
	$container-fluid-lg: $container-fluid-sm * 3;
	padding: $container-fluid 0 $container-fluid-lg 0;
	padding: rem($container-fluid) 0 rem($container-fluid-lg) 0;
}

// CONTROL FULL WIDTH BG IMAGES
@mixin bg-img-control {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.site-wrapper,
.site-content {
	min-height: 100%;
	height: 100%;
	position: relative;
}

.body,
.hero-unit,
.section-scroll-content {
	position: relative;
}

// HERO UNIT
.hero-unit {
	height: $video-bg-height;
	@include bg-img-control;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay {
		height: $video-bg-height;
	}
}

// SECTION SCROLL
#section-scroll {
	@include position(fixed, 42% 0 null null);
	ul {
		@include list-unstyled;
		min-height: 91px;
		// background: $blue-lighter;
		// padding-right: $container-fluid;
		li {
			text-align: right;
			padding: 3px 7px;
			@include border-style(null solid null null);
			@include border-width(null 1px null null);
			@include border-color(null $blue null null);
			// margin-bottom: $container-fluid / 2;
			a {
				display: block;
				text-align: right;
				color: $gray;
				position: relative;
				padding-right: 18px;
				&:hover,
				&.active {
					color: $brand-primary;
					&:before {
						background: $brand-primary;	
					}
				}
				&:before,
				&:after {
					@include position(absolute, 7px 0 null null);
					content: "";
					background-color: $gray;
					margin-left: 7px;
				}
				&:before {
					width: 7px;
					height: 7px;
				}
				&:after {
					width: 3px;
					height: 1px;
				}
			}
		}
	}
}

.btn-apply {
	@include transform(translateX(110%));
}

.section-scroll-content {
	padding: 7% 0;
	@include bg-img-control;
}

// CLICKABLE DIV
[data-href]{
	cursor: pointer;
}


// BG IMAGE BLOCKS
.bg-img-block {
	position: relative;
	@include bg-img-control;
	min-height: $bg-img-height;
	&.bg-img-block-sm,
	&.bg-img-block-lg,
	&.bg-img-block-xl {
		
	}
	&.bg-img-block-sm {
		min-height: $bg-img-height - 140;
	}
	&.bg-img-block-lg {
		min-height: $bg-img-height + 140;
	}
	&.bg-img-block-xl {
		min-height: $bg-img-height + 280;
	}
}

// GRID BLOCKS
.grid-block {
	@include content-block;
	&.grid-block-full {
		.container {
			width: 100%;
		}
	}
}

// SCROLL DOWN 
.scroll-down {
	display: block;
	text-align: center;
	cursor: pointer;
	@include position(absolute, null 0 4px 0);
	z-index: 1000;
	i {
		content: "\e600";
		font-family: 'icomoon';
	}
	&.scroll-down-sq {
		i {
			padding: 7px 12px;
			padding: rem(7px) rem(12px);
		}
	}
}

// SIZE CONTROL
.size {
	&.xs {
		&.scroll-down {
			i {
				font-size: 9px;
				font-size: rem(9px);
			}
		}
		&.banner {
			.banner-content,
			.banner-pic {
				min-height: $banner-height - 210;
			}
		}
		&.user-card {
			margin-bottom: $container-fluid - 3;
			.user-pic {
				width: $user-card-height - 14;				
			}
			.user-info {
				min-height: $user-card-height - 14;
			}
		}
		i {}
		&.videoBG {
			height: $video-bg-height - 280;
		}
		&.hero-unit {
			height: $video-bg-height - 280;
			&.video-bg {
				height: $video-bg-height - 280;
			}
			.overlay {
				height: $video-bg-height - 280;
			}
		}
		&.grid-list-hover {
			> li {
				> div {
					height: $grid-list-hover-height - 210;
				}
			}
		}
	}
	&.sm {
		&.scroll-down {
			i {
				font-size: $font-size-h6;
			}
		}
		&.banner {
			.banner-content,
			.banner-pic {
				min-height: $banner-height - 140;
			}
		}
		&.user-card {
			margin-bottom: $container-fluid - 2;
			.user-pic {
				width: $user-card-height - 7;				
			}
			.user-info {
				min-height: $user-card-height - 7;
			}
		}
		i {
			font-size: $font-size-h3;
		}
		&.videoBG {
			height: $video-bg-height - 140;
		}
		&.hero-unit {
			height: $video-bg-height - 140;
			&.video-bg {
				height: $video-bg-height - 140;
			}
			.overlay {
				height: $video-bg-height - 140;
			}
		}
		&.grid-list-hover {
			> li {
				> div {
					height: $grid-list-hover-height - 140;
				}
			}
		}
	}
	&.lg {
		&.scroll-down {
			i {
				font-size: $font-size-h3;
			}
		}
		&.banner {
			.banner-content,
			.banner-pic {
				min-height: $banner-height + 210;
			}
		}
		&.user-card {
			margin-bottom: $container-fluid + 7;
			$user-card-width-lg: $user-card-width + 140;
			width: $user-card-width-lg;
			.user-pic {
				width: rule-of-three($user-card-width-lg, 140);
			}
			.user-info {
				width: rule-of-three($user-card-width-lg, 210);
				min-height: $user-card-width - 70;
			}
		}
		i {
			font-size: $font-size-h3 * 2;
		}
		&.videoBG {
			height: $video-bg-height + 140;
		}
		&.hero-unit {
			height: $video-bg-height + 140;
			&.video-bg {
				height: $video-bg-height + 140;
			}
			.overlay {
				height: $video-bg-height + 140;
			}
		}
	}
	&.xl {
		&.scroll-down {
			i {
				font-size: $font-size-h1;
			}
		}
		&.banner {
			.banner-content,
			.banner-pic {
				min-height: $banner-height + 280;
			}
		}
		&.user-card {
			margin-bottom: $container-fluid + 14;
			.user-pic {
				width: $user-card-height + 21;
			}
			.user-info {
				min-height: $user-card-height + 21;
			}
		}
		i {
			font-size: $font-size-h1 * 3;
		}
		&.videoBG {
			height: $video-bg-height + 210;
		}
		&.hero-unit {
			height: $video-bg-height + 210;
			&.video-bg {
				height: $video-bg-height + 210;
			}
			.overlay {
				height: $video-bg-height + 210;
			}
		}
	}
}

// USER CARD
.user-card {
	position: relative;
	@include clearfix;
	@include normalize-text;
	margin-bottom: $container-fluid;
	width: $user-card-width;
	.user-pic,
	.user-info {
		float: left;
	}
	.user-pic {
		width: rule-of-three($user-card-width, 70);
		height: auto;
		img {
			width: 100%;
			height: auto;
			border-radius: $border-radius-base;
		}
	}
	.user-info {
		@include flex-middle;
		min-height: $user-card-height * 2;
		width: rule-of-three($user-card-width, 140);
		padding-left: $container-fluid;
		@include children-elements {
			display: block;
		}
		span {
			color: $gray-light;
		}
	}
	&.user-card-round {
		.user-pic {
			img {
				border-radius: 50%;
			}
		}
	}
}

// ICON UTEC
img.icon-utec {
	width: 35px;
	height: auto;
}

// VIDEOCOVER
.videocover {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	// z-index: -1000;
	overflow: hidden;
	// background: url(../assets/img/img.png) no-repeat center top;
	// background-size: cover;
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
 	.vjs-tech {
  	position: relative !important;
  }
}

.overlay {
	@include position(absolute, 0 0 0 0);
	z-index: 10;
}

.video-placeholder {
	@include position(absolute, 0 0 0 0);
	z-index: 7;
}

.gray-light {
	color: #bbb !important;
}
