ul.grid-list-profesores {
	@extend ul.grid-list;
	> li {
		a {
			img {
				width: 140px;
				height: auto;
			}
			p {
				visibility: hidden;
			}
			&:hover {
				p {
					visibility: visible;
				}
			}			
		}
	}
}