

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	/*text-overflow: ellipsis;
	white-space: nowrap;*/
	line-height: 0.8;
    height: 49px;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.72em;
  font-weight: 500;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}



/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
	border-left: #00BFDF 1px solid;
  border-right: #00BFDF 1px solid;
  border-bottom: #00BFDF 1px solid;
}

.content-wrap section p {
	margin: 0;
    padding: 0.75em 0;
    line-height: 1.2;
    text-align: left;
    color: gray !important;
    font-size: 14px;
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}

.tabs-style-linebox nav ul li {
	
	/*-webkit-flex: none;
	flex: none;*/
}

.tabs-style-linebox nav a {
	padding: 0.6em 0.5em;
	color: #74777b;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	border-bottom: #00BFDF 1px solid;
}

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
	color: gray;
}

.tabs-style-linebox nav li.tab-current a {
	color: black;
	border-left: #00BFDF 1px solid;
  border-right: #00BFDF 1px solid;
  border-bottom: none;
}

.tabs-style-linebox nav a:hover::before,
.tabs-style-linebox nav a:focus::before,
.tabs-style-linebox nav li.tab-current a::before {
	position: absolute;
	top: 0;
	color: white;
	left: 0;	
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	content: '';
}

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
	color: white;
	position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #00BFDF;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,-750%,0);
   transform: translate3d(0,-750%,0);
}

.content-current table.table {
	    font-size: 0.75em;
}

@media screen and (max-width: 58em) {
	.tabs-style-linebox nav ul {
		display: block;
		box-shadow: none;
	}
	.tabs-style-linebox nav ul li {
		display: block;
		-webkit-flex: none;
		flex: none;
	}
}

.content-current li {
    text-align: left;
    color: gray !important;
    font-size: 0.8em !important;
}

.overlay-grid-six {
	position: absolute;
    top: 14px;
    right: 14px;
    bottom: 14px;
    left: 14px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-box-align: center;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -ms-flex-align: center;
    opacity: 0;
    color: white;
    background-color: rgba(50,50,50,0.9);
}

.grid-1{
	width: 243px !important;
  height: 242px !important;
}

.grid-2{
	width: 486px !important;
  height: 242px !important;
}

.grid-3{
	width: 243px !important;
  height: 484px !important;
}


@media only screen and (max-width: 480px){
	.grid-1, .grid-2, .grid-3 {
    width: 100% !important;
    height: 374px !important;
	}
}

.page-page-27 #contact-us input,
textarea,
.grippie {
	width: 50%;
}

/*video*/

#video-why-study-utec #video-controls {
	visibility: hidden;
}

#video-why-study-utec:hover #video-controls {
	visibility: visible !important;
}

#video-why-study-utec #video-controls {
	position: relative;
   top: -250px;
   left: 318px;
}



/*Icons*/

.all_classes:before {
  content: "\e808"; }

#contact-us {
	background-color: #5C5C5C;
  padding: 35px 0;
  margin-bottom: -35px;
}

#contact-us .submitted {
	display: none;
}

#contact-us .form-type-item {
	display: none;
}

#contact-us .field-name-field-introduccion-webform .field-label {
	display: none;
}

#contact-us .field-name-field-introduccion-webform h2 {
	color: white;
}

#contact-us .field-name-field-introduccion-webform .separator-gray {
	margin-bottom: 49px !important;
}

#contact-us .field-name-field-footer-webform .field-item.even {
	width: 50%;
  float: right;
  padding: 28px 49px 28px 63px;
}

#contact-us .field-name-field-footer-webform .field-label {
	display: none;
}

#contact-us .pane-title {
	display: none;
}

@media only screen and (max-width: 480px) {
  .img-student-utec {
    background-size: cover !important;
    min-height: 150px !important;
  }
}

@media only screen and (max-width: 480px) {
  .text-title {
    font-size: 1.8rem !important;
  }

  .text-content {
    font-size: 1.4rem !important;
  }
}

@media only screen and (max-width: 480px) {
  #contact-us .field-name-field-footer-webform .field-item.even {
    padding: 0px;
    float: left;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
 #contact-us .field-name-field-footer-webform .field-item.even p {
    float: right;
    position: relative;
    padding-left: 7px;
    border-left: none !important;
    border-top: 1px solid white;
    width: 100% !important;
  }
}

@media only screen and (max-width: 480px) {
  #contact-us #edit-submitted-messaje {
    width: 100% !important;
  }
}

@media only screen and (max-width: 480px) {
  .page-page-27 #contact-us input, 
  textarea, 
  .grippie {
    width: 100% !important;
  }
}

@media only screen and (max-width: 480px) {
 #contact-us {
    background-color: #5C5C5C;
    padding: 35px 0;
    margin-bottom: -54px;
  }
}
@media only screen and (max-width: 480px) {
 #contact-us .webform-submit {
    width: 100%;
  }
} 

#contact-us .field-name-field-footer-webform .field-item.even p {
	  float: right;
    position: relative;
    text-align: center;
    padding-left: 7px;
    padding: 28px 21px 35px 21px;
    border-left: 1px solid white;
    color: white;
}

#contact-us #edit-submitted-name,
#edit-submitted-subject,
#edit-submitted-messaje {
	padding: 5px;
  background: #858585;
  color: white;
  -webkit-appearance: none;
  appearanc: none;
  -moz-appearance: none;
  border: 1px gray solid;
}

#contact-us #edit-submitted-messaje {
	padding: 5px;
  background: #858585;
  color: white;
  -webkit-appearance: none;
  appearanc: none;
  -moz-appearance: none;
  border: 1px gray solid;
  width: 50%;
}

#contact-us .grippie {
	display: none;
}

#contact-us .webform-submit {
	width: 121px !important;
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 7px 7px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00BFDF;
  border-color: #00a9c6;
}

/*MODAL*/

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  margin-top: 90px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  min-height: 16.42857px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: center;
}
.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

// .wrap {
//   width: 100%;
// }

// .acordeon {
//   border-bottom: none;
//   transition: all 0.4s;
//   max-height: 55px;
//   overflow: hidden;
//   cursor: pointer;
//   padding: 10px;
//   margin: 0px;
// }
// .acordeon.active {
//   transition: all 0.2s,max-height 4.8s;
//   margin: 10px -10px;
//   max-height: 3000px;
//   padding: 10px 20px;
//   z-index: 200;
//   color: #444;
// }

.text-overflow {
  width: 152px;
}

#header-on-scroll .nav-main {
  height: 63px !important;
}

// COLLAPSE

.panel {
  margin-bottom: 27px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-body {
  padding: 15px; }
  .panel-body:before, .panel-body:after {
    content: " ";
    display: table; }
  .panel-body:after {
    clear: both; }

.panel-heading {
  border-bottom: 1px solid transparent; }
  .panel-heading > .dropdown .dropdown-toggle {
    color: inherit; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit; }
  .panel-title > a,
  .panel-title > small,
  .panel-title > .small,
  .panel-title > small > a,
  .panel-title > .small > a {
    color: inherit; }

    .panel-title > a {
      padding: 17px 7px;
    }

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0; }
  .panel > .list-group .list-group-item,
  .panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0; }
  .panel > .list-group:first-child .list-group-item:first-child,
  .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
  .panel > .list-group:last-child .list-group-item:last-child,
  .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0; }

.list-group + .panel-footer {
  border-top-width: 0; }

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0; }
  .panel > .table caption,
  .panel > .table-responsive > .table caption,
  .panel > .panel-collapse > .table caption {
    padding-left: 15px;
    padding-right: 15px; }
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  .panel > .table:first-child > thead:first-child > tr:first-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
    .panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
    .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
    .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
    .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
    .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
    .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
    .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
      border-top-left-radius: 3px; }
    .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
    .panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
    .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
    .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
    .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
    .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
    .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
    .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
      border-top-right-radius: 3px; }
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }
  .panel > .table:last-child > tbody:last-child > tr:last-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
    .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
    .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
    .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
    .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
    .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
    .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
    .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
      border-bottom-left-radius: 3px; }
    .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
    .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
    .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
    .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
    .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
    .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
    .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
    .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
      border-bottom-right-radius: 3px; }
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd; }
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0; }
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0; }
  .panel > .table-bordered > thead > tr > th:first-child,
  .panel > .table-bordered > thead > tr > td:first-child,
  .panel > .table-bordered > tbody > tr > th:first-child,
  .panel > .table-bordered > tbody > tr > td:first-child,
  .panel > .table-bordered > tfoot > tr > th:first-child,
  .panel > .table-bordered > tfoot > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }
  .panel > .table-bordered > thead > tr > th:last-child,
  .panel > .table-bordered > thead > tr > td:last-child,
  .panel > .table-bordered > tbody > tr > th:last-child,
  .panel > .table-bordered > tbody > tr > td:last-child,
  .panel > .table-bordered > tfoot > tr > th:last-child,
  .panel > .table-bordered > tfoot > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }
  .panel > .table-bordered > thead > tr:first-child > td,
  .panel > .table-bordered > thead > tr:first-child > th,
  .panel > .table-bordered > tbody > tr:first-child > td,
  .panel > .table-bordered > tbody > tr:first-child > th,
  .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
  .panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
  .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
  .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0; }
  .panel > .table-bordered > tbody > tr:last-child > td,
  .panel > .table-bordered > tbody > tr:last-child > th,
  .panel > .table-bordered > tfoot > tr:last-child > td,
  .panel > .table-bordered > tfoot > tr:last-child > th,
  .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
  .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0; }
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0; }

.panel-group {
  margin-bottom: 27px; }
  .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px; }
    .panel-group .panel + .panel {
      margin-top: 5px; }
  .panel-group .panel-heading {
    border-bottom: 0; }
    .panel-group .panel-heading + .panel-collapse > .panel-body,
    .panel-group .panel-heading + .panel-collapse > .list-group {
      border-top: 1px solid #ddd; }
  .panel-group .panel-footer {
    border-top: 0; }
    .panel-group .panel-footer + .panel-collapse .panel-body {
      border-bottom: 1px solid #ddd; }

.panel-default {
  border-color: #ddd; }
  .panel-default > .panel-heading {
    color: #515151;
    background-color: #f5f5f5;
    border-color: gray;
    border: 1px solid #bbb; }
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-left: 1px solid #00BFDF;
    border-right: 1px solid #00BFDF;
    border-bottom: 1px solid #00BFDF; }
    .panel-default > .panel-heading .badge {
      color: #f5f5f5;
      background-color: #515151; }
  .panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd; }

.panel-primary {
  border-color: #00A5B7; }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: #00A5B7;
    border-color: #00A5B7; }
    .panel-primary > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #00A5B7; }
    .panel-primary > .panel-heading .badge {
      color: #00A5B7;
      background-color: #fff; }
  .panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #00A5B7; }

.panel-success {
  border-color: #d6e9c6; }
  .panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
    .panel-success > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #d6e9c6; }
    .panel-success > .panel-heading .badge {
      color: #dff0d8;
      background-color: #3c763d; }
  .panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6; }

.panel-info {
  border-color: #bce8f1; }
  .panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
    .panel-info > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #bce8f1; }
    .panel-info > .panel-heading .badge {
      color: #d9edf7;
      background-color: #31708f; }
  .panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1; }

.panel-warning {
  border-color: #faebcc; }
  .panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
    .panel-warning > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #faebcc; }
    .panel-warning > .panel-heading .badge {
      color: #fcf8e3;
      background-color: #8a6d3b; }
  .panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #faebcc; }

.panel-danger {
  border-color: #ebccd1; }
  .panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
    .panel-danger > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #ebccd1; }
    .panel-danger > .panel-heading .badge {
      color: #f2dede;
      background-color: #a94442; }
  .panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ebccd1; }

.bg-cyan {
  background-color: #00BFDF !important;
  color: white !important;
}


@media screen and (max-width: 480px) {
  .table-all-course table,
  .table-all-course tbody {
    display: block;
    width: 100%;
  }

  .table-all-course thead { display: none; }

  .table-all-course table tr,
  .table-all-course table .titulo-tabla,
  .table-all-course table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  .table-all-course table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }

  .table-all-course .curso-xs {
    font-size: 2em !important;
  }

  .table-all-course td ul {
    list-style: none !important;
  }

  .table-all-course ul li::before {
    color: #00BFDF !important;
    content: "\22C5";
    font-size: 2em;
    position: relative;
    top: 4px;
  }

  .table-all-course table .titulo-tabla[data-title]:before,
  .table-all-course table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
    color: gray !important;
  }

  .table-all-course table td {
    border: none !important;
    margin-bottom: 6px;
    color: #444;
  }

  .table-all-course table td:empty { display: none; }

  .table-all-course table td:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
  }
  .table-all-course table td:first-child:before { content: ''; }
}

.display-block {
  display: block !important;
}

.color-cyan {
  color: #00BFDF !important;
}

.border-active {
  border-top: 4px solid #00BFDF !important;
  border-left: 1px solid #00BFDF !important;
  border-right: 1px solid #00BFDF !important;
  background: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
}

@media screen and (max-width: 480px) {
  .lh-1-xs {
    line-height: 1.1 !important;
  }

  
}

.page-page-27 #contact-us textarea {
    width: 50% !important;
    padding: 5px;
    background: #858585;
    color: white;
    border: none;
  }

#carrusel-bloque-4.carrusel-4,
#carrusel-bloque-6.carrusel-6 {
  position: relative;
}

