.btn {
  display: inline-block;

  -webkit-transition: .29s ease-in;
  -o-transition: .29s ease-in;
  transition: .29s ease-in;
}
.btn:hover {
  text-decoration: none;
}
.btn-small {
  font-size: 75%;
  padding: 6px 15px;
  font-weight: normal;
}
.btn-medium-small {
  font-size: 87.5%;
  font-weight: 300;
  padding: 6px 17px;
}
.btn-medium {
  font-size: 100%;
  font-weight: 300;
  padding: 10px 20px;
}
.btn-big {
  font-size: 140%;
  font-weight: 300;
  padding: 10px 20px;
}

/******************************************************************
* Light blue
******************************************************************/
.btn-light-blue {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(13, 156, 193, .7);
}
.btn-light-blue:hover {
  background: rgba(13, 156, 193, 1);
}

/******************************************************************
* Dark button
******************************************************************/
.btn-dark {
  color: #3cc1e0;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, .5);
}
.btn-dark:hover {
  color: #fff;
  background: rgba(13, 156, 193, 1);
}
