.grid-list-hover {
	> li {
		> div {
			border: 1px solid $gray-light;
			@include flex-middle-center;
			height: $grid-list-hover-height;
			color: $gray-dark;
			text-align: center;
			padding: $container-fluid + 7;
			h3 {
				min-height: 98px;
			}
		}
		&:hover {
			background-color: rgba($brand-info, 0.7);
			> div {
				color: white;
			}
		}
	}
}