/*
Career Services 
*/

.border-grey{
	border: 1px solid rgb(204, 204, 204);
}

.btn-bg-outline-white{
	border: 2px solid white;
	color: white;
	background-color: transparent;
	&:hover {
		border: 2px solid $brand-primary;
		background-color: $brand-primary;
		color: white;
	}
}

.btn-bg-outline-primary{
	border: 1px solid $brand-primary;
	color: $brand-primary;
	background-color: transparent;
	&:hover {
		border: 1px solid $brand-primary;
		background-color: $brand-primary;
		color: white;
	}
}

.btn-notselected{
	background-color: white;
	border: 1px solid $gray-light;
}


.btn-selected{
	background-color: $gray-light;
	border: 1px solid $gray-light;
}

.grid-list-hover > li:hover{
	.border-grey{
		border: none;
		h5, h6{
			color: white;
		}
	}
}

.super-bold{
	font-weight: 900;
}

.item-pic{
	width: 130px;
	height: 130px;
	background-position: center center;
	position: relative;
	@media only screen and (max-width: 480px) {
  	width: 80px;
  	height: 80px;
  }
}

.bg-center{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.pic-teconectamos{
	width: 160px;
	height: 160px;
	background-position: center center;
	position: relative;
	@media only screen and (max-width: 480px) {
  	width: 130px;
  	height: 130px;
  	border-radius: 50%;
		margin: 12px auto;
  }
}

#myModal {
	z-index: 20000;
	background-color: rgba(128, 128, 128, 0.6);
}

.input-center{
	width: 50%;
	margin: 0 auto;
	@media only screen and (max-width: 480px) {
  		width: 100%;
  		font-size: 11px;
  	}
}

#te-preparamos .overlay h2{
	position: absolute;
  bottom: 10px;
  left: 20px;
  text-align: left;
}

#te-preparamos .anchor-block-1{
	width: 484px;
	height: 484px;
}

#te-preparamos .anchor-block-2{
	@media only screen and (max-width: 480px) {
  	width: 100%;
  	height: 187px;
  }
}

#te-conectamos .item-pic,
#te-conectamos .pic-teconectamos {
	.overlay:hover{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(50, 50, 50, 0.4);
	}
}

.pager{
	list-style: none;
	text-align: center;
	li {
		display: inline;
		padding-left: 10px;
		padding-right: 10px;
	}
}