.respaldo {
	li {
		border: 1px solid #e3e3e3;
		padding-top: 78px !important;
		text-align: center;
		min-height: 264px;
		margin-left: 14px;
		margin-bottom: 89px;
		width: 35.7% !important;
		&:hover {
			background-color: #e3e3e3;
		}		
	}
}