.nav-section {
	position: fixed;
	min-width: 35px;
	min-height: 70px;
	background: rgba(white, 0.7);
	top: 45%;
	right: $container-fluid;
	padding: 12px;
	li {
		text-align: center;
		border-top: 3px solid $gray-darker;
		border-right: 3px solid $gray-darker;
		border-top-right-radius: 3px;
		margin-top: -1px;
		position: relative;
		width: 15px;
		height: 42px;
		cursor: pointer;
		a {
			display: none;
			padding: 5px 9px;
			position: absolute;
			min-width: 108px;			
			right: 11px;
			top: -16px;
			border: 2px solid $brand-primary;
			font-size: 12px;
			background: white;
			color: $brand-primary;
			&:hover,
			&.active {
				text-decoration: none;
				background: $gray-lighter;
				color: darken($brand-primary, 14%);
			}
		}
		&:hover,
		&.active {
			border-top: 3px solid $brand-primary;
			border-right: 3px solid $brand-primary;
			a {
				display: block;
			}
		}
		&:last-child {
			border-right: none;
			height: 0;
		}
	}
}